html, body {
  margin: 0;
  font-family: sans-serif;
}

h1, h2 {
  position: absolute;
  z-index: 100;
  color: white;
  text-shadow: 1px 2px 4px rgba(2, 3, 11, 0.5);
  font-weight: 100;
}

h1 {
  text-align: center;
  font-size: 28px;
}

h2 {
  font-size: 12px;
}

#title {
  background: #232e32;
  padding: 6px 12px 18px 12px;
  top: 25px;
  cursor: pointer;
}

#subtitle {
  font-size: 12px;
  top: 72px;
  left: 12px;
  color: #ccc;
}

#peak-list-overlay {
  background: #232e32;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 800px) { 
#peak-list-overlay {
  width: 400px;
}
}

#peak-list-overlay.hidden {
  transform: translateY(100%);
}

#peak-list-overlay h1 {
  position: relative;
  width: 100%;
  text-align: right;
  top: 30px;
  right: 10px;
  font-size: 28px;
}

#peak-list-overlay h2 {
  position: absolute;
  font-size: 12px;
  top: 28px;
  right: 10px;
}

#peak-list {
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

#peak-list li {
  position: relative;
  color: white;
  cursor: pointer;
  list-style: none;
  border-bottom: #333 1px solid;
  background-size: cover;
}

#peak-list p {
  display: inline;
  line-height: 120px;
  font-size: 20px;
  font-weight: 100;
  background: #232e32;
  padding: 6px 10px 6px 40px;
}

#peak-list p:last-child {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 8px;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  margin: 0;
  line-height: normal;
}
